h1 { color: palegoldenrod;}


body {
    background-color: rgb(162, 185, 196);
    font-family: Arial, sans-serif;
    margin: 0;
}

/* HEADER */
header {
    background-color: rgb(60, 63, 120);
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
}


nav {
    background-color: rgb(80, 85, 150);
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}


main {
    padding: 20px;
}


.container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    padding: 20px;
    margin-bottom: 20px;
}

.container h2 {
    color: rgb(60, 63, 120);
}

.container p {
    font-size: 16px;
    color: #333;
    text-align: justify;
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}